[Unit]
Description=Service that calls the orion-firewall utility at boot

[Service]
Type=oneshot
ExecStart=/sbin/orion-firewall-update

[Install]
WantedBy=multi-user.target